.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #000000;
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.creation-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.new-section {
  background-color: orange;
}

.done-section {
  background-color: green;
}

.todo-item {
  width: 500px;
  display: flex;
  flex: space-between;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0px 20px;
}

.action-buttons {
  display: flex;
  gap: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
